body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 1250px) {
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }

  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: '';
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }

  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  .banner-proj2 {
    right: auto;
    left: 10%;
    transform: rotate(-20deg);
  }

  .banner-2-proj2 {
    top: 25%;
    right: 10%;
    left: auto;
    transform: rotate(40deg);
  }

  .banner-proj3 {
    top: 15%;
    right: 12%;
    transform: rotate(40deg);
  }

  .banner-2-proj3 {
    top: 15%;
    left: 12%;
    right: auto;
    transform: rotate(-40deg);
  }
}

.grayBox {
  transform: rotate(50deg);
  border-radius: 10%;
  width: 3rem;
  height: 3rem;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondGrayBox p {
  transform: rotate(-50deg);
  
}

.secondGrayBox {
  background-color: rgba(255, 255, 255, 0.1);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

:target {
  scroll-margin-top: 1rem;
}

@supports not (scroll-margin-top: 1rem) {
  :target:before {
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    width: 0;
    height: 1rem;
    margin-top: -1rem;
  }
}

@supports not (scroll-margin-top: 1rem) {
  #top::after {
    content: ' (This browser does not scroll smoothly)';
    display: block;
    font-size: 0.5em;
    margin-top: 1em;
  }
}

.gradient-background {
  background: linear-gradient(
    300deg,
    #435334,
    #71835c,
    #9eb384,
    #bed0aa,
    #bed0aa,
    #9eb384,
    #71835c,
    #435334
  );
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 20rem;
  border-radius: 50%;
}

.InstAssist {
  background: linear-gradient(
    110deg,
    rgba(255, 194, 0, 1) 0%,
    rgba(253, 7, 117, 1) 35%,
    rgba(252, 1, 205, 1) 65%,
    rgba(162, 8, 243, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roundedpic {
  border-radius: 5%;
}

.transNavText {
  font-size: 1.25rem;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}